<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Advertisements - Wallafood UPM</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={% static 'wallafood/css/advertisements.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse customNavbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'advertisements' %}>Wallafood UPM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href={% url 'edit_profile' %}>Edit profile</a>
                            </li>
                            <li>
                                <a href={% url 'change_password' %}>Change password</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href={% url 'addAdvert' %}>Add Advertisement</a>
                    </li>
                    <li>
                        <a href={% url 'doLogout' %}>Logout</a>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid text-center">
        <h1 class="bold">Advertisements</h1>
    </div> 
    <div class="container-fluid" id="film_info">
        <div class="container-fluid" style="padding-block-end: 1%">
            <form id="edittext" action={% url 'findAdvertisement' %}>
                <div class="input-group input-group-lg">
                    <input type="text" name="text_search" class="form-control" placeholder="Search advertisement">
                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {% block content %} 
        {% for element in adverts %}
        <div class="list-group">
            <div class="list-group-item container-fluid">
                <div class="media col-md-2">
                        <img class="featurette-image img-rounded img-responsive" src="{{ element.photo_url }}" />
                </div>
                <div class="col-md-6">
                    <h1 class="list-group-item-heading bold"> {{ element.name }} </h1>
                    <p class="list-group-item-heading bold"> {{ element.description }} </p>
                    <p class="list-group-item-heading ">Vendor: {{ element.vendor }} </p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="list-group-item-heading bold"> {{ element.status }} </p>
                    <p class="list-group-item-heading bold">Available amount: {{ element.amount_available }} </p>
                </div>
            </div>
   
        </div>
        {% endfor %}  
        {% endblock %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>