<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Wallafood UPM</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href={% static 'wallafood/css/index.css' %}>
  <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default navbar-inverse customNavbar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={% url 'index' %}>Wallafood Online UPM</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" role="form" method="post" action={% url 'doLogin' %} accept-charset="UTF-8" id="login-nav">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="sr-only" for="usernameInput">Username</label>
                        <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Username" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password" required>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      </div>
                      {% for message in messages %}
                      <div class="alert alert-danger">
                          {{ message }}
                      </div>
                      {% endfor %}
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <div class="row featurette">
      <div class="col-md-12 noSidesPadding">
        <img class="featurette-image img-responsive center-block" src={% static "wallafood/images/index_wallpaper.jpg" %} alt="Wallpaper"
        />
      </div>
    </div>
  </div>

  <nav class="navbar navbar-inverse customNavbar">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav">
          <li class="active" id="liInfo">
            <a href='#' id="showInfo" class="showFunction">Information
            </a>
          </li>
          <li id="liDevices">
            <a href="#" id="showDevices" class="showFunction">Devices</a>
          </li>
          <li id="liPricing">
            <a href="#" id="showPricing" class="showFunction">Pricing</a>
          </li>
          <li id="liAbout">
            <a href="#" id="showAbout" class="showFunction">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid invertedColors">
    <br><div class="container-fluid" id="toShow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam accumsan felis sit amet libero congue, vel viverra metus
    faucibus. Proin aliquet dictum varius. Etiam molestie congue tincidunt. Donec sed lacus purus. Aliquam hendrerit dolor
    sapien, id efficitur urna viverra vel. Suspendisse tempus neque quis neque vulputate, imperdiet aliquet erat tincidunt.
    Aliquam erat volutpat. Sed lacinia elit ac gravida vulputate. Fusce sagittis ante sed velit porta tristique. Pellentesque
    condimentum justo id dui gravida laoreet. Nunc accumsan dignissim tristique. Maecenas sed eros ac sem vulputate vehicula
    eu vitae lacus. Phasellus vitae imperdiet velit. Nullam dui sem, dictum elementum ante a, cursus vestibulum libero. Donec
    eget ligula nec purus pretium accumsan eget quis risus. Proin imperdiet molestie sem vehicula consequat. In varius tortor
    ac libero pharetra vestibulum. Quisque et commodo eros, quis placerat ante. Duis facilisis rhoncus hendrerit. In vitae
    mattis quam, ut bibendum ipsum. Donec elementum libero vitae diam eleifend vulputate. Nulla consequat dui eget lacus
    scelerisque, ut rutrum ante varius. Ut scelerisque ante ut tortor malesuada, vel feugiat dui lobortis. Nunc in libero
    venenatis, accumsan mauris vitae, facilisis sapien. Vivamus ut euismod velit, sit amet dignissim odio. Quisque id finibus
    justo, a molestie justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque a magna in tortor convallis
    faucibus. Sed elementum tempor tempus. Praesent non vulputate purus. Donec accumsan purus sit amet nisi finibus, vel
    pellentesque turpis vestibulum. Duis at tortor sed arcu commodo dictum sit amet sed leo. Nam nec condimentum eros, at
    tincidunt neque. Aliquam erat volutpat. Nam magna augue, condimentum eu magna et, bibendum dignissim ligula. Praesent
    aliquam risus id massa aliquet faucibus. Nunc convallis quam ligula, eu vulputate dui scelerisque in. Nulla sit amet
    neque ut quam accumsan eleifend. Maecenas vel eleifend eros, ac tincidunt quam. Sed a vulputate diam. Nunc ultricies
    tristique mi. Maecenas erat arcu, dignissim vel pretium in, vehicula et nibh. Aliquam sapien lacus, sagittis in sagittis
    sed, pulvinar a ex. Nullam risus magna, blandit a pulvinar in, blandit quis lorem. Aenean porta posuere ornare. Pellentesque
    id commodo mi, eu fermentum massa. Fusce non rutrum lorem. Pellentesque non justo congue, aliquam dui eu, sagittis arcu.
    Mauris nec mattis libero. Aliquam erat volutpat. Maecenas eget leo non nunc malesuada dignissim. Fusce nulla risus, ultrices
    sed faucibus at, dignissim at mi. Maecenas sollicitudin feugiat bibendum. Fusce rhoncus leo et velit posuere, nec dapibus
    mauris iaculis. Etiam non facilisis ex. Ut vel pellentesque leo. Donec nec nunc at tortor ullamcorper gravida quis vitae
    augue. Donec gravida, quam at dignissim laoreet, sem augue laoreet elit, vitae ullamcorper ligula magna id quam. Morbi
    vestibulum arcu diam. Proin condimentum semper elementum. Nam lobortis augue diam, in accumsan nulla iaculis sed. Nulla
    tempus sed eros at dignissim. Nulla facilisi. Proin condimentum justo nec gravida finibus. Fusce euismod vel nulla ac
    consectetur. Mauris at tincidunt leo.</div>
    <div class="container-fluid invertedColors footerPadding">
      <footer>
        <p>&copy; Dise&ntilde;o de aplicaciones web.</p>
      </footer>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--<script src={% static 'videoclub/scripts/script.js' %}></script> -->
</body>

</html>