<!DOCTYPE html> 

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login - Wallafood UPM</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'wallafood/css/login.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
</head>

<body class="bgBody">
    <nav class="navbar navbar-default navbar-inverse customNavbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'login' %}>Wallafood UPM</a>
            </div>
        </div> <!-- /.container-fluid -->
    </nav>

    <div class="container centered">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Log In </strong></h3>
                </div>
                <div class="panel-body">
                    <form action={% url 'doLogin' %} method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                            <div class="help-block text-right"><a href={% url 'password_reset' %}>Forgot the password?</a></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>

                        {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </form>                    
                    <div class="bottom text-center">
                        New here ? <a href={% url 'register' %}><b>Join Us</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>